@{
    ViewBag.Title = "About";
}

<h3>How it works...</h3>

<p>Finding new stylists that we can trust can be very challenging. 
    So why not elliminate the first step by finding out stylists people you know use and trust.
    By registering as a new user or via facebook login, you will have access to any salon and stylist 
    shared by your friend or family. They trust them enough to brag on them by sharing the Salon name and stylist they use,
     so why shouldnt you! Then once you find a place to call home, you too can share your stylist/salon with
    the world!!</p>


<img src="~/images/abouthair.jpg" class="img-responsive" />
<p><a href="http://localhost:49816/Home/HairForm" class="btn btn-primary" >Start Here &raquo;</a></p>
